<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springai.mapper.ApiMapper">

    <select id="getApi" resultType="com.example.springai.entity.OneChatAiApi">
        select id, used, base_Url as baseUrl, apiKey, describe, create_time as createTime, update_time as updateTime
        from kq_api
        where id = #{id}
    </select>

    <select id="getApis" resultType="com.example.springai.entity.OneChatAiApi">
        select id, used, base_Url as baseUrl, apiKey, describe, create_time as createTime, update_time as updateTime
        from kq_api
    </select>

    <insert id="createApi">

    </insert>

    <update id="updateApi">
    </update>

    <delete id="deleteApi">
    </delete>
</mapper>
